<nav class="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Orçamento</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
    <hr>
    <label>
        Digite seu nome:
        <input type="text" [(ngModel)]="nome" (input)="onInput()" [placeholder]="placeholderText">
    </label>
    <p>Olá, {{ nome }}!</p>
    <p>Mensagem: {{ getMensagem() }}</p>
    <button (click)="alterarPlaceholder()">Alterar Placeholder</button>
</nav>